.main-section-first {
    width: 80%;
    margin-top: 60px;
}

.first-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10%;
    background-color: rgb(31, 30, 30);
    color: white;
    border-radius: 10px;
    padding: 30px;
}

.first-heading {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

.earth {
    color: orangered;
    font-size: 3rem;
    font-weight: 200;
}

.first-section img {
    width: 90%;
    border-radius: 20px;
}

.half-width-first-section {
    width: 50%;
}

.btn-1 {
    margin-top: 15%;
}

.live-watch {
    text-decoration: none;
    color: white;
    background-color: rgb(248, 35, 35);
    padding: 10px 30px;
    border-radius: 10px;
    transform: 0.6;
}

.live-watch:hover {
    transition: 0.2s;
    opacity: 1.4;
    zoom: 0.5s;
    background-color: purple;
}

/* .arrow-btn {
    position: relative;
    top: 3px;
    left: 7px;
} */

