/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');




.main-section-first {
    width: 80%;
    margin-top: 60px;
}

.first-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10%;
    background-color: rgb(31, 30, 30);
    color: white;
    border-radius: 10px;
    padding: 30px;
}

.first-heading {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

.earth {
    color: orangered;
    font-size: 3rem;
    font-weight: 200;
}

.first-section img {
    width: 90%;
    border-radius: 20px;
}

.half-width-first-section {
    width: 50%;
}

.btn-1 {
    margin-top: 15%;
}

.live-watch {
    text-decoration: none;
    color: white;
    background-color: rgb(248, 35, 35);
    padding: 10px 30px;
    border-radius: 10px;
    transform: 0.6;
}

.live-watch:hover {
    transition: 0.2s;
    opacity: 1.4;
    zoom: 0.5s;
    background-color: purple;
}
/* -----------------second seection start ------------*/
.strong{
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    left: 35%;
    /* margin-top: 60px; */
    font-family: 'Qwitcher Grypen', cursive;
    color: crimson;
    font-weight: 700;
}
.second-section{
    width:80%;
    /* background-color: aqua; */
    margin-left: 10%;
    margin-top: 10%;
}
.top-button {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    background-color: black;
    padding: 27px;
    border-radius: 10px;
    /* width: 500px; */
}

.button-main {
    font-size: 1.2rem;
    border: none;
    padding: 10px 25px;
    background-color: rgb(241, 230, 230);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.button-main a {
    text-decoration: none;
    color: white;
}

.extra {
    background-color: red;
    font-size: 1.1rem;
}
.flag-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10%;
    grid-column-gap: 6%;
}
#VS{
    padding: 5px;
}
.flex-flag{
    display: flex;
    width: 100%;
    box-shadow: 2px 5px 17px black;
    border-radius: 10px;
    height: 200px;
    padding: 2px;
    /* padding: 5px; */
}
h6{
    text-align: center;
}
.flag-item img{
    width: 100%;
    padding: 5px;
    padding: 2px;
}

/*  -------------------last-section--------------------*/
.last-input-section{
    width: 50%;
    background-color: grey;
    padding:50px;
    border-radius: 10px;
    margin-top: 300px;
    position: relative;
    left: 20%;
}
.last-input-section-title{
    position: relative;
    left: 20%;
    font-family: 'Aboreto', cursive;
    color: rgb(0, 0, 0);    
}
.input-main{
    position: relative;
    left: 8%;
}

.flexible-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
#email{
    padding: 10px 40px;
    border: none;
    font-size: 1rem;
    box-shadow: 10px 4px 10px rgb(44, 19, 23);
    background-color: rgb(255, 21, 21);
    color: white;
    border-radius: 5px;
}
#submit{
    padding: 10px 40px;
    border: none;
    font-size: 2rem;
    /* box-shadow: 10px 4px 10px crimson; */
    color: black;
    border-radius: 5px;
}
/*-------------------------------- footer -------------------------*/
    footer{
        margin-top: 180px;
        text-align: center;
        background-color: black;
        color: aliceblue;
    }
    hr{
        width: 70%;
        opacity: 0,5;
    }
    .footer-main{
        height: 200px;
    }
    .footer-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-anchor{
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 20px;
        transform: 0.4;
    }
    .footer-parent{
        padding-top: 10px;
    }
    .reserver{
        font-family: 'Qwitcher Grypen', cursive;
        font-size: 2.7rem;
        transform: 0.8;
    }
    .hiden-logo{
        display:none;
    }
    .reserver:hover{
        color: crimson;
        transition: 0.8s;
    }
    .footer-anchor:hover{
        color: orangered;
        transition: 0.6s;
    }
    .iconify-footer{
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
    }
    .iconify-item{
        padding: 20px;
        font-size: 1.5rem;
        /* margin-bottom: 10px; */
        transform: 0.8;
    }
    .iconify-item:hover{
        color: red;
        transition: 0.9s;
    }











/* media Query */
@media screen and (max-width:576px) {
    .first-heading{
        font-size: 1.5rem;
    }
    .main-section-first{
        width: 80%;
    }
    .first-section{
        flex-direction: column;
        /* padding: 0; */
        margin-left: 0;
    }
    .first-section img{
        width: 100%;
    }
    .half-width-first-section {
        width: 100%;
        padding-top: 20px;
    }
    .btn-1 {
        padding-left: 50px;
    }
    /* second section */
    .strong{
        left: 2%;
        font-size: 2.2rem;
    }
    .second-section{
        width: 80%;
    }
    .flag-main{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 2%;
        grid-column-gap: 6%;
    }
    /* --------comment-section---------------- */
    .last-input-section {
        position: relative;
        top: 300px;
        left: 0;
        margin-left: 10%;
    }
    .flexible-input{
        flex-direction: column;
        padding: 10px;
    }
    .last-input-section-title{
        font-size: 1rem;
        left: 0;
    }
    .input-main{
        left: 0;
    }
    #email{
        padding: 10px 30px;
    }
    /* footer-section */
    footer{
        margin-top: 700px;
    }
    .footer-main{
        height: 300px;
    }
    .footer-anchor{
        margin: 10px;
    }
    .hiden-logo {
        display: block;
        /* padding-bottom: 10%; */
        position: relative;
        bottom: 50px;
    }
    .header-no-6{
        font-size: 1.5rem;
        font-family: 'Qwitcher Grypen', cursive;
    }
    .hiden-logo-items{
        font-size: 2rem;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        bottom: 40px;
    }
    .footer-item{
        flex-direction: column;
        display: none;
        /* padding: 20px; */
    }

}