
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');




body{
    margin: 0;
}
/* navigation menu */

nav{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}
.gohe{
    color: orangered;
    position: relative;
    right: 200px;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;

}
.nav-item{
    padding: 10px 50px;
    font-size: 1.2rem;
}

.another{
    position: relative;
    left: 100px;
    font-size: 2rem;
}
.hiden-menu{
    display: none;
}
.header-menu-item{
    text-decoration: none;
    color: white;
    transform: 0.8;
}
.header-menu-item:hover{
    color: red;
    transition: 0.4s;
}

/* ----------------First-section-start-------------- */
.main-section-first{
    width: 80%;
    margin-top: 60px;
}
.first-section{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10%;
    background-color:rgb(31, 30, 30) ;
    color: white;
    border-radius: 10px;
    padding: 30px;
}
.first-heading{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}
.earth{
    color: orangered;
    font-size: 3rem;
    font-weight: 200;
}
.first-section img{
    width: 90%;
    border-radius: 20px;
}
.half-width-first-section{
    width: 50%;
}
.btn-1{
    margin-top: 15%;
}
.live-watch{
    text-decoration: none;
    color: white;
    background-color: rgb(248, 35, 35);
    padding: 10px 30px;
    border-radius: 10px;
    transform: 0.6;
}
.live-watch:hover{
    transition: 0.2s;
    opacity: 1.4;
    zoom: 0.5s;
    background-color: purple;
}
.arrow-btn{
    position: relative;
    top:3px;
    left: 7px;
}
/* -----------------first-section finished ---------------*/


/*----------------------
    second section start
-----------------------*/
.second-section{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 10%;
}

.items{
    background-color: rgb(16, 13, 13);
    width: 15%;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
}
.item{
    display: flex;
    flex-direction: column;
    
}
.half-item{
    text-decoration: none;
    margin-top: 60px;
    /* padding: 20px 20px; */

}


/* players item news */
.top-button{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap:50px ;
    background-color: black;
    padding: 27px;
    border-radius: 10px;
    /* width: 500px; */
}
.button-main{
    font-size: 1.2rem;
    border: none;
    padding: 10px 25px;
    background-color: rgb(241, 230, 230);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.button-main a{
    text-decoration: none;
    color: white;
}
.extra{
    background-color: red;
}
.news-play img{
    width: 100%;
}
.item-players-5{
    position: relative;
    left: 600px;
    
}
.player-4{
    position: relative;
    left: 125%;
}
.item-players-6 {
    position: relative;
    left: 600px;

}
.must{
    position: relative;
    left: 300px;
}
.view-button {
    padding-top: 20px;
    
}
.view-btn{
    padding: 5px 20px;
    text-decoration: none;
    background-color: crimson;
    color: white;
    border-radius: 10px;
}
.icon-flex{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

/*-------------------------------- footer -------------------------*/
footer {
    margin-top: 180px;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

hr {
    width: 70%;
    opacity: 0, 5;
}

.footer-main {
    height: 250px;
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-anchor {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    transform: 0.4;
}

.footer-parent {
    padding-top: 10px;
}

.reserver {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 2.7rem;
    transform: 0.8;
}

.hiden-logo {
    display: none;
}

.reserver:hover {
    color: crimson;
    transition: 0.8s;
}

.footer-anchor:hover {
    color: orangered;
    transition: 0.6s;
}

.iconify-footer {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.iconify-item {
    padding: 20px;
    font-size: 1.5rem;
    /* margin-bottom: 10px; */
    transform: 0.8;
}

.iconify-item:hover {
    color: red;
    transition: 0.9s;
}







/* media quries start(mobile-view) */
@media screen and (max-width:778px) {
    
    .nav-item {
        display: none;
        padding: 0px 0px;
        margin-right: 0;
    }
    .gohe{
        right: 0;
        margin-right: 50%;
        font-size: 2rem;
    }
    .hiden-menu{
        display: block;
        font-size: 2.5rem;
        padding-right: 5px;
        margin-top: 10px;
    }


    /* Nav finished */
    body{
        margin: 0;
    }
        .main-section-first{
            width: 80%;
        }
    .first-section{
        flex-direction: column;
        /* padding: 0; */
        margin: 0;
    }
    .btn-1{
        padding-left: 15%;
    }
    .first-section img{
        width: 100%;
        padding-top: 30px;
    }
    .half-width-first-section{
        width: 100%;
        /* padding-left: 2%; */
    }
    .grid-section{
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap:0%;
        grid-row-gap:2%;
    }
    .player-4{
        left: 0;
    }
    .button-main{
        padding: 10px 40px;
        background-color: none;
    }
        /* footer-section */
        footer {
            margin-top: 500px;
        }
    
        .footer-main {
            height: 400px;
        }
    
        .footer-anchor {
            margin: 10px;
        }
    
        .hiden-logo {
            display: block;
            /* padding-bottom: 10%; */
            position: relative;
            bottom: 50px;
        }
    
        .header-no-6 {
            font-size: 1.5rem;
            font-family: 'Qwitcher Grypen', cursive;
        }
    
        .hiden-logo-items {
            font-size: 2rem;
            display: flex;
            justify-content: space-evenly;
            position: relative;
            bottom: 40px;
        }
    
        .footer-item {
            flex-direction: column;
            display: none;
            /* padding: 20px; */
        }
}
/* Mobile View finished */


/* tablet view start */
@media screen and (min-width:779px) and (max-width:1024px){
    
    .top-button{
        display: none;
    }
    .grid-section{
        grid-template-columns: 100px 100px 100px;
    }
}
